#testing {
   display: flex;
   justify-content: center; /*cetners horizontally */
   height: 170px;
   align-items: center; /* centers vertically */
   font-size: 58px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Here we apply the properties to the boxes so we can adjust the width, height, etc */
.box1 {
    width: 120px;
    height: 120px;
    font-size: 6em;
    border-radius: 8px; 
    text-align: center; 
}
.box2 {
    width: 120px;
    height: 120px;
    font-size: 6em;
    border-radius: 8px; 
    text-align: center; 
}
.box3 {
    width: 120px;
    height: 120px;
    font-size: 6em;
    border-radius: 8px; 
    text-align: center; 
}

/* So here, We apply flexbox property. The content is centered and there is gap of 4px.. flexbox arranges the child items of a parent div to be arranged in main (x) axis which can be changed and their settings can be modified easily. */
#box1-4 {
    display: flex;
    justify-content: center; 
    gap: 4px;
}
#box5-8 {
    display: flex;
    justify-content: center; 
    gap: 4px;
}
#box9-12 {
    display: flex;
    justify-content: center; 
    gap: 4px;
}

/* Coloring */
#box1 {
    background-color: rgb(255, 0, 0);
}
#box2 {
    background-color: rgb(255, 51, 0);
}
#box3 {
    background-color: rgb(255, 132, 0);
}
#box4 {
    background-color: rgb(255, 230, 0);
}
#box5 {
    background-color: rgb(149, 255, 0);
}
#box6 {
    background-color: rgb(43, 255, 0);
}
#box7 {
    background-color: rgb(0, 255, 132);
}
#box8 {
    background-color: rgb(0, 34, 255);
}
#box9 {
    background-color: rgb(247, 0, 255);
}
#box10 {
    background-color: rgb(255, 0, 89);
}
#box11 {
    background-color: rgb(0, 255, 251);
}
#box12 {
    background-color: rgb(255, 0, 0);
}